.workshop-app__video-list {
  background-color: lightgrey;
}

.link {
  text-decoration: none;
  color: black;
}

.selected {
  background-color: rebeccapurple;
}

.selected .link {
  color: white;
}
